@charset "utf-8";

@media (max-width: 1366px) {

    html, body {
        margin: 0;
        height: 100%;
    }
    main {
        height: 100%;
        background-color: white;
    }
    .header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        height: 9%;
    }
    .white-bg {
        background: #DCDCDC;
        border-bottom: 1px solid #f1f2f7;
    }    
    a.logo {
        font-size: 21px;
        color: #2e2e2e;
        float: left;
        margin-top: 15px;
        text-transform: uppercase;
    }
    a.logo:hover, a.logo:focus {
        text-decoration: none;
        outline: none;
    }
    a.logo span {
        color: #FF6C60;
    }
    /*--sidebar toggle---*/
    .sidebar-toggle-box {
        float: left;
        padding-right: 15px;
        margin-top: 20px;
    }
    .sidebar-toggle-box .fa-bars {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
    }
    .top-nav  {
        margin-top: 6px;
        margin-left: 30%;
    }
    .top-nav li.dropdown .dropdown-menu {
        float: right;
        right: 0;
        left: auto; 
    }
    .top-nav > ul > li > a {
        color: gray;
    }
    .top-nav > ul > li > a:hover, .top-nav > ul > li > a:focus {
        background-color: #FF6347;
        color: white;
    }
    .top-nav > li {
        margin-left: 10px;
    }
    a.top-nav {
        font-size: 3px;
    }
    .panel_exame_geral_detalhe {
        margin-top: 8%;
        margin-left: 8%;
    }
    .panel_exame_geral {
        margin-top: 8%;
        margin-left: auto;
    }
    #panel_head {
        background-color: #B0C4DE;
        color: black;
        font-weight: bold;
        border: none;
    }
    .table_exame_geral > thead > tr > th {
        text-align: center;
        background-color: #E8E8E8;
        color: blue;
        
    }
    .table_exame_geral > tbody > tr > td {
        text-align: center;
    }
    
    .div_nao_existe {
        margin-top: 8%;
    }
    
    #table_exame_detalhado {
        width: 100%;
        margin-left: auto;
        margin-top: 2%;
    }
    #table_exame_detalhado > tbody > tr > td {
        text-align: center;
        padding: 3px;
    }
    #table_exame_detalhado > thead > tr > th {
        text-align: center;
        padding: 3px;
        background-color: #E8E8E8;
        color: black;
        border: 0;
    }
    #table_exame_detalhado > thead > tr > td {
        text-align: center;
        padding: 3px;
        background-color: #E8E8E8;
        color: blue;
        border: 0;
    }
    
    .div_sem_exames {
        margin-top: 2%;
        margin-left: 30%;
        text-align: center;
        width: 400px;
    }
    .div_btn_sair {
        float: right;
        margin-right: auto;
    }
    .div_cont_exames {
        margin-top: 9%;
        width: 24%;
    }
    #badge_geral {
        background-color: blue;
    }
    #list_group_home > li {
        background-color: #EEEEE0;
        color: #8B8B83;
    }
    .div_qtd_exame_geral {
        background-color: #9FB6CD;
        padding: 6px;
        color: white;
    }
    .div_qtd_exame_geral > h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form_cadastro_exame {
        margin-top: 8%;
    }
    .form_exame_cadastro input[type="text"], input[type="date"], #medico, #lab, #tipo_exame {
        margin-bottom: 15px;
        border-radius: 10px;
        -webkit-border-radius: 7px;
        border: 1px solid #adadad;
        box-shadow: #28a4c9;
        font-size: 12px;
        width: 100%;
    }
    #panel_form_cadastro_exame {
        width: 35%;
        margin-left: 33%;
        border-radius: 5px;
        -webkit-border-radius: 7px;
        border: 1px solid #adadad;
        box-shadow: #28a4c9;
    }
    #panel_form_cadastro_exame_heading {
        background-color: #DCDCDC;
        border: 0 solid #adadad;
    }
    #panel_form_cadastro_exame_heading > h3 {
        color: #8B8B83;
        font-weight: bold;
    }
}

@media (min-width: 1440px) {

    html, body {
        margin: 0;
        height: 100%;
    }
    main {
        height: 100%;
        background-color: white;
    }
    .header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        height: 9%;
    }
    .white-bg {
        background: #DCDCDC;
        border-bottom: 1px solid #f1f2f7;
    }    
    a.logo {
        font-size: 21px;
        color: #2e2e2e;
        float: left;
        margin-top: 15px;
        text-transform: uppercase;
    }
    a.logo:hover, a.logo:focus {
        text-decoration: none;
        outline: none;
    }
    a.logo span {
        color: #FF6C60;
    }
    /*--sidebar toggle---*/
    .sidebar-toggle-box {
        float: left;
        padding-right: 15px;
        margin-top: 20px;
    }
    .sidebar-toggle-box .fa-bars {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
    }
    .top-nav  {
        margin-top: 6px;
        margin-left: 30%;
    }
    .top-nav li.dropdown .dropdown-menu {
        float: right;
        right: 0;
        left: auto; 
    }
    .top-nav > ul > li > a {
        color: gray;
    }
    .top-nav > ul > li > a:hover, .top-nav > ul > li > a:focus {
        background-color: #FF6347;
        color: white;
    }
    .top-nav > li {
        margin-left: 10px;
    }
    a.top-nav {
        font-size: 3px;
    }
    .panel_exame_geral {
        margin-top: 8%;
    }
    #panel_head {
        background-color: #B0C4DE;
        color: black;
        font-weight: bold;
        border: none;
    }
    .table_exame_geral > thead > tr > th {
        text-align: center;
        background-color: #E8E8E8;
        color: blue;
        
    }
    .table_exame_geral > tbody > tr > td {
        text-align: center;
    }
    
    .div_nao_existe {
        margin-top: 8%;
    }
    
    #table_exame_detalhado {
        width: 70%;
        margin-left: 14%;
        margin-top: 2%;
    }
    #table_exame_detalhado > tbody > tr > td {
        text-align: center;
        padding: 3px;
    }
    #table_exame_detalhado > thead > tr > th {
        text-align: center;
        padding: 3px;
        background-color: #E8E8E8;
        color: black;
        border: 0;
    }
    #table_exame_detalhado > thead > tr > td {
        text-align: center;
        padding: 3px;
        background-color: #E8E8E8;
        color: blue;
        border: 0;
    }
    
    .div_sem_exames {
        margin-top: 2%;
        margin-left: 35%;
        text-align: center;
        width: 400px;
    }
    .div_btn_sair {
        float: right;
        margin-right: 16%;
    }
    .div_cont_exames {
        margin-top: 10%;
        width: 22%;
    }
}




